streamlit
pandas
numpy
scikit-learn
sentence-transformers
langchain
langchain-community
langchain-groq
faiss-cpu
python-dotenv
fpdf
pymupdf
openpyxl
langchain_huggingface 
langchain_text_splitters 
langchain_community.document_loaders
profile
